.container-videos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px, auto);
    padding: 2em;
}


@media (max-width: 800px) {
    .navbar-brand {
        margin-left: 70px;
        
    }

    .carousel-inner {
        height: -50em;
    }

    .container-videos {
        grid-template-columns: 1fr;
        margin-top: -20em;
    }

}