.container-videos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px, auto);
    padding: 5em;
}

.embed-responsive-item{
    margin: 15px;
}

.container-imagenes {
    margin-top:-3em;
    height: 89vh;
    background-color: rgb(59, 58, 61);
}

.imagenes {
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}

.card {
    margin-right: 0.5em;
    margin-left: 0.5em;
}


@media (max-width: 800px) {
    .navbar-brand {
        margin-left: 70px;
        
    }

    .carousel-inner {
        height: -50em;
    }

    .container-videos {
        grid-template-columns: 1fr;
        margin-top: -10em;
    }

}
