.titulo{
  color: #ffffffbb;
}

/*seleccion imagen*/
#seleccion{
  display: flex;
  flex-wrap: wrap;
  
}
.img{
  width: 250px;
  height: 200px;
  
}

/*Botones*/
.btnS {
	background-color:#ff0044;
	border-radius:14px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:12px 36px;
	text-decoration:none;
	text-shadow:1px 1px 0px #001eff;
    margin: 10px;
}
.btnS:hover {
	background-color:rgb(19, 28, 77);
}
.btnS:active {
	position:relative;
	top:1px;
}
/****************************************************************************/
/*Rectangulo entero*/
.tabs {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 70%;
  justify-content: center;
  margin: auto;
}
 
/*Titulo del tab, por ejemplo: FULL*/
.tabs label {
  order: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition:  ease 0.3s;
  background-color: rgb(19, 28, 77);
  color: white;
  width: 17%;
  padding: 15px;
  font-size: 20px;
}

/*Donde esta el contenido*/
.tabs .tab {
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  padding: 7px;
  background: rgb(0, 26, 255);
}

/*El contenido al principio para que este vacio*/
.tabs input[type="radio"] {
  display: none;
}

/*Si das click a un input se comvierte en el principal*/
.tabs input[type="radio"]:checked + label {
    background-color: rgb(255, 0, 76);
    color: white;
}
 
/*Al darle a un input/label su informacion pasa a block para que se visualice*/
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  font-weight: 300;
  line-height: 1.5;
  margin: auto;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: monospace;
}

/*Rectangulo donde aparece la info*/
.tab{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

/*Cada linea de entrada*/
.entrada{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
}

/*BTN*/
.btnS{
    margin-right: 30px;
}

/*Estilos, para que cada linea tenga un color diferente*/
.impar{
  background-color:rgb(255, 183, 211);
}

.par{
  background-color: rgb(240, 0, 72);
}
/********/

/*Nombre de las entradas*/
h3{
  margin-left: 10px;
  font-size: 20px;
}
/**/

/*mapa */
.map-container-7{
  margin-top: 60px;
  overflow:hidden;
  padding-bottom:42%;
  position:relative;
  height:0;
  }
  .map-container-7 iframe{
  left:0;
  top:0;
  height:500px;
  width:100%;
  position:absolute;
  }

/*MEDIA QUERY*/

@media(max-width:550px){
  .tabs label{
    width: 40%;
    padding: 2px;
  }

  h3{
    font-size: 20px;
  }

}


@media (max-width: 800px) {
  .navbar-brand {
      margin-left: 70px;
  }
}
