body{
    background-color: black;
}
/*Rectangulo entero*/
.tabs {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 70%;
    justify-content: center;
    margin: auto;
  }
   
  /*Titulo del tab, por ejemplo: FULL*/
  .tabs label {
    order: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition:  ease 0.3s;
    background-color: rgb(19, 28, 77);s
    color: white;
    width: 17%;
    padding: 15px;
    font-size: 20px;
  }
  
  /*Donde esta el contenido*/
  .tabs .tab {
    order: 9;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: none;
    padding: 7px;
    background: rgb(0, 26, 255);
  }
  
  /*El contenido al principio para que este vacio*/
  .tabs input[type="radio"] {
    display: none;
  }
  
  /*Si das click a un input se comvierte en el principal*/
  .tabs input[type="radio"]:checked + label {
      background-color: rgb(255, 0, 76);
      color: white;
  }
   
  /*Al darle a un input/label su informacion pasa a block para que se visualice*/
  .tabs input[type="radio"]:checked + label + .tab {
    display: block;
  }
  
  body {
    min-height: 100vh;
    box-sizing: border-box;
    font-weight: 300;
    line-height: 1.5;
    margin: auto;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: monospace;
  }
  
  /*Rectangulo donde aparece la info*/
  .tab{
      display: flex;
      flex-direction: column;
      flex-flow: nowrap;
  }
  
  /*Cada linea de entrada*/
  .entrada{
      display: flex;
      flex-direction: row;
      flex-flow: nowrap;
      justify-content: space-between;
      align-items: center;
  }
  
/*BTN*/
.btnS{
      margin-right: 30px;
}
  
  /*Estilos, para que cada linea tenga un color diferente*/
  .impar{
    background-color:rgb(255, 183, 211);
  }
  
  .par{
    background-color: rgb(240, 0, 72);
  }
  /********/
  
  /*Nombre de las entradas*/
  h3{
    margin-left: 10px;
    font-size: 20px;
  }
  
  
  
  /*MEDIA QUERY*/
  @media(max-width:550px){
    .tabs label{
      width: 20%;
      padding: 2px;
    }
  
    h3{
      font-size: 20px;
    }
  
  }
  
  