
body {
    margin: 0;
}

/*HEADER*/

#logotop{
    height: 40%;
    width: 40%;
    margin-left: 35%;
}
#navbarfont{
    font-size: 30px;
    
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    
  }



  /*QUIENES SOMOS*/
  
.quienesSomos{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}  
/*FIN QUIENES SOMOS*/

/*INFO*/
.info1txt{
    text-align: left;
    margin-left: 22.5vw;
    margin-right: 54vw;
}
.info1img{
    width: 23vw;
    height: 29vh;
    background-image: url(/img/cyberpunk-neotokyo-hd-wallpaper-preview.jpg);
    position: absolute;
    margin-top: -33vh;
    margin-left: 53vw;
}



/*FOOTER*/

.carousel-inner{
     height: 82vh;
     
}

/*css redes sociales*/
#redesSociales{
    width: 40%;
    height: auto;
    align-items: center;
    
}
.redesSociales img{
    width: 60px;
    height: 60px;
    margin: 5px;
}
.redesSociales p{
    font: bold;
    color: grey;
    font-size: 17px;
}
/*fin css del footer*/
