
body {
    margin: 0;
}

/*HEADER*/

#logotop{
    height: 40%;
    width: 40%;
    margin-left: 35%;
}
#navbarfont{
    font-size: 35px;
    
}
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
    
  }



/*FOOTER*/

.carousel-inner{
     height: 82vh;
     
}

/*css redes sociales*/
#redesSociales{
    width: 40%;
    height: auto;
    align-items: center;
    
}
.redesSociales img{
    width: 60px;
    height: 60px;
    margin: 5px;
}
.redesSociales p{
    font: bold;
    color: grey;
    font-size: 17px;
}
/*fin css del footer*/
